.main-setpassword{
    background-image: url('../../../assets//image/b.png');
    height: 100vh;
    max-width: 100%;
    background-size: cover;

    }
    .card_div {
        width: 29%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10%;
    }
    .card_div.card-body {
        flex: 1 1 auto;
        padding: 2.25rem !important;
    }
   
    .form-group {
        margin-bottom: 1rem;
        position: inherit;
        position: relative;
    }
    .password-icon {
        position: absolute;
        top: 8px;
        right: 12px;
        height: 24px;
    }
   

    @media(max-width:767px)
    {
        .card_div
        {
            width: 95%;
        }
    }