/* Header */
@media(max-width:767px)
{
    .dash-header-ul li
    {
        /* width: 100% !important; */
    }
}

/* end Header */

/* table css */

.btn.btn-trash {
    background-color: #CCCCCC;
    border-radius: 14px;
    width: 24px;
    padding: none !important;
    line-height: 8px;
    text-align: center;
    margin-left: 6px;
    height: 24px;

}
.dashbord-card.card {
    border-radius: 11px;
}
.number-tr{
border-bottom: 10px solid #ffff;
}
/* table css */
.trash-icon {
    line-height: 0;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    display: block;
    margin-left: -5px;
}
.model-div.col {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: -1px;
    margin: 5px;
    display: inline-flex;
}
.modal-content {
     width: 133% !important;
     border-radius: 11px;
     /* margin-top: 41%; */
}
.user-modal-icon {
    width: 25px;
    display: flex;
    margin-top: 9px;
}
.model-main-div.row {
    margin-top: 20px;
}

.model-call-icons {
    width: 26px;
    height: 30px;
}   
.calls-details {
    margin: 4px;
    margin-inline-start: 11px;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}