/* Header */
@media(max-width:767px)
{
    .dash-header-ul li
    {
        /* width: 100% !important; */
    }
}

/* end Header */

/* table css */

.btn.btn-trash {
    /* background-color: #CCCCCC; */
    border-radius: 14px;
    width: 24px;
    padding: none !important;
    line-height: 8px;
    text-align: center;
    margin-left: 6px;
    height: 24px;

}
.dashbord-card.card {
    border-radius: 11px;
}
.number-tr{
border-bottom: 10px solid #ffff;
}
/* table css */
.trash-icon {
    line-height: 0;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    display: block;
    margin-left: -5px;
}
.model-div.col {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: -1px;
    margin: 5px;
    display: inline-flex;
}
.modal-content {
     width: 133% !important;
     border-radius: 11px;
     /* margin-top: 41%; */
}
.user-modal-icon {
    width: 25px;
    display: flex;
    margin-top: 9px;
}
.model-main-div.row {
    margin-top: 20px;
}

.model-call-icons {
    width: 26px;
    height: 30px;
}   
.calls-details {
    margin: 4px;
    margin-inline-start: 11px;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img.cancel-icon {
    width: 18px;
    margin-top: -25px;
}
button.btn.cancle-btn {
    float: right;
    margin-top: -14px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #23282c;
    max-height: 400px;
    overflow-y: scroll;
}
tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
/* table  */
table.scroll {
    width: 100%;
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block; }

table.scroll thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    width: 19%;
    float: left;
    border-right: 1px solid black;
}

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

tbody { border-top: 2px solid black; }

tbody td:last-child, thead th:last-child {
    border-right: none !important;
}
/* end table */